include ../../controls/buttons/main-btn/main-btn

mixin base-card(data)
  .base-card-wrapper
    .base-card
      if data.img
        img(src=`./assets/img/${data.img}.png` alt= data.title width="480" height="240")
      
      .base-card__content
        if data.headline
          small.base-card__headline!= data.headline
        span.base-subtitle!= data.title
        if data.price
          .price-badge
            span!= data.price
        if data.text
          span.base-text!= data.text


        +main-btn(data.link)